In [1]:
# https://pytorchvideo.org/docs/tutorial_classification

In [2]:
import os
import pytorch_lightning
import pytorchvideo.data
import torch.utils.data

class KineticsDataModule(pytorch_lightning.LightningDataModule):

  # Dataset configuration
  _DATA_PATH = <path_to_kinetics_data_dir>
  _CLIP_DURATION = 2  # Duration of sampled clip for each video
  _BATCH_SIZE = 8
  _NUM_WORKERS = 8  # Number of parallel processes fetching data

  def train_dataloader(self):
    """
    Create the Kinetics train partition from the list of video labels
    in {self._DATA_PATH}/train
    """
    train_dataset = pytorchvideo.data.Kinetics(
        data_path=os.path.join(self._DATA_PATH, "train"),
        clip_sampler=pytorchvideo.data.make_clip_sampler("random", self._CLIP_DURATION),
        decode_audio=False,
    )
    return torch.utils.data.DataLoader(
        train_dataset,
        batch_size=self._BATCH_SIZE,
        num_workers=self._NUM_WORKERS,
    )

  def val_dataloader(self):
    """
    Create the Kinetics validation partition from the list of video labels
    in {self._DATA_PATH}/val
    """
    val_dataset = pytorchvideo.data.Kinetics(
        data_path=os.path.join(self._DATA_PATH, "val"),
        clip_sampler=pytorchvideo.data.make_clip_sampler("uniform", self._CLIP_DURATION),
        decode_audio=False,
    )
    return torch.utils.data.DataLoader(
        val_dataset,
        batch_size=self._BATCH_SIZE,
        num_workers=self._NUM_WORKERS,
    )

SyntaxError: invalid syntax (2066825706.py, line 9)

In [13]:
from sklearn.model_selection import train_test_split

train_fn = ['./data/train_possible.parquet', './data/supplemental_possible.csv']

import pandas as pd
a = train_test_split(pd.read_parquet(train_fn[0]))

In [5]:
train_fn[0]

'./data/train_possible.csv'

In [18]:
aa = pd.read_parquet(train_fn[0])

train_test_split(aa, test_size=.2, random_state=42)

[         idx                                path     file_id  sequence_id  \
 22936  22936   train_landmarks/638508439.parquet   638508439    754914960
 17992  17992   train_landmarks/532011803.parquet   532011803    440285579
 5381    5381   train_landmarks/169560558.parquet   169560558   1317306497
 47299  47299  train_landmarks/1562234637.parquet  1562234637    928401260
 3656    3656   train_landmarks/149822653.parquet   149822653   1548615304
 ...      ...                                 ...         ...          ...
 60566  60566  train_landmarks/1969985709.parquet  1969985709   1602391521
 42494  42494  train_landmarks/1405046009.parquet  1405046009    236624627
 954      954     train_landmarks/5414471.parquet     5414471   1847243533
 17566  17566   train_landmarks/532011803.parquet   532011803    427612098
 62901  62901  train_landmarks/2026717426.parquet  2026717426   1199529201

        participant_id                        phrase  y_len  right_len  \
 22936             242  www.agrayapi.com.tr/sblinfra     28        128
 17992              38                        491807      6          8
 5381              135                    7349 otake     10         83
 47299              63           +230-1806-199-35-13     19         28
 3656              230         9901 haggerty highway     21          1
 ...               ...                           ...    ...        ...
 60566              72             kleineanfragen.de     17         33
 42494             230               dallas bartlett     15          1
 954                93                sheldon pineda     14        124
 17566             112           /1320304/guillesaxo     19        211
 62901             233                  998-234-1838     12        119

        left_len  frame_len
 22936         1        128
 17992         1          8
 5381          1         83
 47299         1         28
 3656        206        206
 ...         ...        ...
 60566         3         33
 42494       134        134
 954           1        124
 17566         1        211
 62901         1        119

 [48215 rows x 10 columns],
          idx                                path     file_id  sequence_id  \
 26337  26337   train_landmarks/871280215.parquet   871280215    291889333
 66487  66487  train_landmarks/2118949241.parquet  2118949241    364176544
 1444    1444   train_landmarks/105143404.parquet   105143404   1798703250
 60149  60149  train_landmarks/1967755728.parquet  1967755728   1018088107
 66502  66502  train_landmarks/2118949241.parquet  2118949241    364630659
 ...      ...                                 ...         ...          ...
 59839  59839  train_landmarks/1967755728.parquet  1967755728   1008642811
 60934  60934  train_landmarks/1969985709.parquet  1969985709   1614099671
 55376  55376  train_landmarks/1880177496.parquet  1880177496    863718608
 57005  57005  train_landmarks/1905462118.parquet  1905462118   1171505155
 32637  32637  train_landmarks/1098899348.parquet  1098899348   1860310371

        participant_id                       phrase  y_len  right_len  \
 26337             227               www.bjfpdk.com     14        100
 66487              36             yonkers new york     16         38
 1444               15  6849 sea oats way southwest     27        199
 60149             153                 347-749-1596     12        124
 66502             231               www.qviaggi.it     14         94
 ...               ...                          ...    ...        ...
 59839              63  954 northwest 245th terrace     27        124
 60934              73     3023 heritage point road     24        158
 55376              76                1035 arbeiter     13         23
 57005              81                      jay ali      7         45
 32637              74          13 timberwalk court     19          1

        left_len  frame_len
 26337         1        100
 66487         1         38
 1444          1        199
 60149         1        124
 66502         1         94
 ...         ...        ...
 59839         1        124
 60934         1        158
 55376         1         23
 57005         1         45
 32637       228        228

 [12054 rows x 10 columns]]

In [15]:
aa

,idx,path,file_id,sequence_id,participant_id,phrase,y_len,right_len,left_len,frame_len
0,0,train_landmarks/5414471.parquet,5414471,1816796431,217,3 creekhouse,12,62,1,62
1,1,train_landmarks/5414471.parquet,5414471,1816825349,107,scales/kuhaylah,15,84,1,84
2,2,train_landmarks/5414471.parquet,5414471,1816909464,1,1383 william lanier,19,187,1,187
3,3,train_landmarks/5414471.parquet,5414471,1816967051,63,988 franklin lane,17,66,1,66
4,4,train_landmarks/5414471.parquet,5414471,1817123330,89,6920 northeast 661st road,25,225,1,225
...,...,...,...,...,...,...,...,...,...,...
67202,67202,train_landmarks/2118949241.parquet,2118949241,388105954,227,www.tuktuk.ch,13,90,1,90
67203,67203,train_landmarks/2118949241.parquet,2118949241,388192924,88,431-366-2913,12,42,1,42
67204,67204,train_landmarks/2118949241.parquet,2118949241,388225542,154,994-392-3850,12,7,176,176
67205,67205,train_landmarks/2118949241.parquet,2118949241,388232076,95,https://www.tianjiagenomes.com,30,3,138,138
67207,67207,train_landmarks/2118949241.parquet,2118949241,388332538,176,802 co 66b,10,14,1,14

In [35]:
semi_preprocess_df = ['./data/partial_train_landmark.parquet', './data/partial_supplemental_landmark01.parquet']
pd.read_parquet('./data/partial_train_landmark02.parquet')

         idx  right_len  left_len
0          0         62         1
1          1         84         1
2          2        187         1
3          3         66         1
4          4        225         1
...      ...        ...       ...
67203  67203         42         1
67204  67204          7       176
67205  67205          3       138
67206  67206         13         1
67207  67207         14         1

[67208 rows x 3 columns]

In [25]:
pd.read_parquet('./data/partial_train_landmark01.parquet')

,sequence_id,frame,x_right_hand_0,x_right_hand_1,x_right_hand_2,x_right_hand_3,x_right_hand_4,x_right_hand_5,x_right_hand_6,x_right_hand_7,...,z_left_hand_11,z_left_hand_12,z_left_hand_13,z_left_hand_14,z_left_hand_15,z_left_hand_16,z_left_hand_17,z_left_hand_18,z_left_hand_19,z_left_hand_20
0,450271163,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.131148,-0.153634,-0.093264,-0.145342,-0.195751,-0.230883,-0.110699,-0.176297,-0.208744,-0.228749
1,450271163,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.108135,-0.126339,-0.084145,-0.131306,-0.178627,-0.213141,-0.102693,-0.163479,-0.193422,-0.213809
2,450271163,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.131652,-0.153116,-0.102476,-0.154591,-0.205599,-0.242489,-0.124570,-0.184529,-0.212316,-0.231991
3,450271163,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.102535,-0.124609,-0.075734,-0.123845,-0.169882,-0.203251,-0.100899,-0.163232,-0.191301,-0.209427
4,450271163,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.021602,-0.034823,-0.036247,-0.069445,-0.115044,-0.150894,-0.059755,-0.102723,-0.125831,-0.144639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157567,1209546398,69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157568,1209546398,70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157569,1209546398,71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157570,1209546398,72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157571,1209546398,73,0.256331,0.328283,0.420289,0.463348,0.446886,0.403689,0.463872,0.510216,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
pd.read_parquet('./data/partial_supplemental_landmark01.parquet')

,sequence_id,frame,x_right_hand_0,x_right_hand_1,x_right_hand_2,x_right_hand_3,x_right_hand_4,x_right_hand_5,x_right_hand_6,x_right_hand_7,...,z_left_hand_11,z_left_hand_12,z_left_hand_13,z_left_hand_14,z_left_hand_15,z_left_hand_16,z_left_hand_17,z_left_hand_18,z_left_hand_19,z_left_hand_20
0,571283026,0,0.082548,0.188519,0.260271,0.324864,0.400065,0.181057,0.204957,0.258676,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,571283026,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,571283026,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,571283026,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,571283026,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170606,2022137216,155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170607,2022137216,156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170608,2022137216,157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170609,2022137216,158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170610,2022137216,159,0.289102,0.441571,0.562708,0.645995,0.703535,0.625442,0.761709,0.854497,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

:

In [2]:
import pandas as pd

aa = pd.read_parquet('./data/train_landmarks/1647220008.parquet')

In [3]:
aa

,frame,x_face_0,x_face_1,x_face_2,x_face_3,x_face_4,x_face_5,x_face_6,x_face_7,x_face_8,...,z_right_hand_11,z_right_hand_12,z_right_hand_13,z_right_hand_14,z_right_hand_15,z_right_hand_16,z_right_hand_17,z_right_hand_18,z_right_hand_19,z_right_hand_20
sequence_id,,,,,,,,,,,,,,,,,,,,,
1463931138,0,0.214376,0.224297,0.220626,0.204692,0.224070,0.221943,0.215138,0.087442,0.211927,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1463931138,1,0.222091,0.230199,0.226623,0.210691,0.229963,0.227827,0.220972,0.095945,0.217627,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1463931138,2,0.222559,0.236046,0.231680,0.216255,0.235981,0.233724,0.226264,0.100011,0.222907,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1463931138,3,0.232901,0.241233,0.236090,0.222245,0.241486,0.239591,0.232967,0.106366,0.230067,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1463931138,4,0.236811,0.246223,0.240877,0.227063,0.246474,0.244457,0.237417,0.108826,0.234426,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1494379832,175,0.532162,0.517911,0.523458,0.502300,0.516153,0.515993,0.517314,0.403660,0.515118,...,-0.033519,-0.054121,-0.025563,-0.045243,-0.060611,-0.071632,-0.065778,-0.083405,-0.087494,-0.090015
1494379832,176,0.531567,0.517628,0.523232,0.502359,0.515971,0.515943,0.517681,0.402227,0.515666,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1494379832,177,0.531164,0.516529,0.522184,0.501574,0.514995,0.515198,0.517317,0.402892,0.515754,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1494379832,178,0.533949,0.517828,0.523199,0.503640,0.516520,0.517021,0.519902,0.403880,0.518642,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1494379832,179,0.534158,0.522589,0.527569,0.507150,0.521106,0.521092,0.522421,0.407046,0.520712,...,0.166734,0.147164,0.094854,0.138155,0.136855,0.126507,0.046956,0.090411,0.113393,0.123459

In [3]:
import torch
import torch.nn as nn

# Target are to be un-padded
T = 50      # Input sequence length
C = 20      # Number of classes (including blank)
N = 16      # Batch size
# Initialize random batch of input vectors, for *size = (T,N,C)
input = torch.randn(T, N, C).log_softmax(2).detach().requires_grad_()
input_lengths = torch.full(size=(N,), fill_value=T, dtype=torch.long)
# Initialize random batch of targets (0 = blank, 1:C = classes)
target_lengths = torch.randint(low=1, high=T, size=(N,), dtype=torch.long)
target = torch.randint(low=1, high=C, size=(sum(target_lengths),), dtype=torch.long)
ctc_loss = nn.CTCLoss()
loss = ctc_loss(input, target, input_lengths, target_lengths)
loss.backward()

In [5]:
target.shape

torch.Size([480])

In [6]:
input.shape

torch.Size([50, 16, 20])

In [7]:
input_lengths.shape

torch.Size([16])